{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    <div class="post__content">
      <h1>{{ title .Title }}</h1>
      {{ if or (eq .Type "post") (eq .Type .Site.Params.postSectionName) }}
        <ul class="post__meta">
          <li class="post__meta-item">
            <em class="fas fa-calendar-day post__meta-icon"></em>
            <span class="post__meta-text"
              >{{ if isset .Site.Params "singledateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.singleDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.singleDateFormat }}
                {{ end }}

              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Mon, Jan 2, 2006" .Date }}
                {{ else }}
                  {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}

              {{ end }}
            </span>
          </li>
          <li class="post__meta-item">
            <em class="fas fa-stopwatch post__meta-icon"></em>
            <span class="post__meta-text">{{ i18n "reading_time" .ReadingTime }}</span>
          </li>
        </ul>
      {{ end }}

      {{- partial "expirationnote.html" . -}}

      <!-- {{- if (eq .Params.toc true) -}} -->
        {{- partial "toc.html" . -}}
      <!-- {{- end -}} -->

      {{ if .Params.thumbnail }}
      <div style = "max-width: fit-content; margin-left: 0;">
        <img class="post__thumbnail-wrapper" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" style = "max-height: 400px; width: 900px; object-fit: cover;" />
      </div>
    {{ end }}

      {{ .Content }}

      <div class="post__footer"></div>

      {{- if isset .Params "series" -}}
        {{- partial "series.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.relatedPosts true) -}}
        {{- partial "related.html" . -}}
      {{- end -}}

      {{- if (eq .Params.contact true) -}}
        {{- partial "contact.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.mermaid.enable true) -}}
        {{- partial "mermaid.html" . -}}
      {{- end -}}
    </div>
    <div class="post__footer">
      
      {{ with .Page.Params.Categories }}
        {{ partial "taxonomy/categories.html" . }}
      {{ end }}

      {{ with .Page.Params.Tags }}
        {{ partial "taxonomy/tags.html" . }}
      {{ end }}

      {{if eq .Section "post"}}
      <div style = "display: flex; justify-content: space-between; margin-top:3rem;">
     
        <div class="previous-post">
            {{ if .PrevPage }}
            <div style = "display: block;">
                <div style = "font-family: 'Courier New', Courier, monospace; font-size: large; text-align: left; font-weight: 800;">prev</div>
                <a class="link-reverse" style = "font-size: large; font-weight: 400;" href="{{ .PrevPage.Permalink }}?ref=footer" style = "text-align:left;">« {{ .PrevPage.Title | truncate 50 "..."}}</a>
            </div>
            {{ end }}
        </div>
    
        <div class="next-post">
            {{ if .NextPage }}
            <div style = "display: block;">
                <div style = "font-family: 'Courier New', Courier, monospace; font-size: large; text-align: right;font-weight: 800;">next</div>
                <a class="link-reverse" style = "font-size: large; font-weight: 400;" href="{{ .NextPage.Permalink }}?ref=footer" style = "text-align:right;">{{ .NextPage.Title | truncate 50 "..." }} »</a>
            </div>
            {{ end }}
        </div>
      </div>

    </div>

    {{ end }}

    {{ if and (or (eq .Type "post") (eq .Type .Site.Params.postSectionName)) (ne .Page.Params.disableComments true) }}
      {{- if .Site.DisqusShortname -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ template "_internal/disqus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.utterances.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/utterances.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.giscus.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/giscus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.CommentoURL -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/commento.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.gitalk.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/gitalk.html" . }}
        </div>
      {{- end -}}

    {{ end }}
  </div>
{{ end }}
