<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <h1 class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}"  style = "color:green; font-family: cursive;text-transform: capitalize;">{{ .Site.Params.Title }}</a>
        </h1>
      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}"  style = "color:green; font-family:cursive; text-transform: capitalize;">{{ .Site.Params.Title }}</a>
        </div>
      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    <ul class="sidebar__list">
      <li class = "sidebar__list-item">
        <a href = "https://passionfruitkitchen.com" target = "_blank" rel = "noopener me" aria-label = "Passionfruit Kitchen" title = "Passionfruit Kitchen">
          <img src = "images/passionfruit-icon.png" style="max-width: 3rem; max-height: 3rem;"/>
        </a>
      </li>
      {{ range $item := .Site.Params.socialIcons }}
        <li class="sidebar__list-item">
          <a
            href="{{ $item.url }}"
            target="_blank"
            rel="noopener me"
            aria-label="{{ $item.title }}"
            title="{{ $item.title }}"
          >
            <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    </ul>
    <div class = "sidebar__introduction" style = "margin-top:5rem; font-weight: bold; margin-bottom: 5rem;">Search Tags</div>
    <ul style = "list-style-type: none; display: flex; flex-wrap: wrap; gap:2rem; justify-content: center;">
      {{ range .Site.Taxonomies.tags }}
        <li><div style = "background-color: lavender; border-radius: 10%; padding:1rem; width: fit-content; font-size: small;"><a href="{{ .Page.Permalink }}" style = "font-size: small;">{{ .Page.Title }}</a> {{ .Count }}</div></li>
      {{ end }}
    </ul>
    {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
  </div>
</div>
